<!DOCTYPE html>
<html>
<head>
    <title>Lookup</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body class="w-50 p-3">
    <h1>Lookup</h1>
    <form method="post" class="form-inline">
        {% csrf_token %}
        <div class="row">
            <div class="col">
                <input id="query" type="text" name="query" class="form-control" maxlength="100">
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary mb-2">Search</button>
            </div>
        </div>
    </form>

    {% if error_message %}
        <p style="color: red;">{{ error_message }}</p>
    {% endif %}

    {% if results and not selected_member_info %}
        <h2>Select a Member</h2>
        <form method="post" class="form-inline">
            {% csrf_token %}
            <div class="row">
                <div class="col">
                    <select name="selected_member" class="form-select" id="selected_member">
                        {% for member in results %}
                        <option value="{{ member.id }}">{{ member.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-primary">Select</button>
                </div>
            </div>
        </form>
    {% endif %}

    {% if selected_member_info %}
        <h2>Selected Member Details</h2>
        <table class="table">
            <tbody>
                <tr>
                    <th>Install Number</th>
                    <td>#{{ selected_member_info.installs.0 }}</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>{{ selected_member_info.name }}</td>
                </tr>
                <tr>
                    <th>Number</th>
                    <td>{{ selected_member_info.phone_number }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ selected_member_info.primary_email_address }}</td>
                </tr>
                <tr>
                    <th>Unit</th>
                    <td>{{ selected_member_info.unit }}</td>
                </tr>
            </tbody>
        </table>
    {% endif %}

    {% if device_info %}
        <h2>Device Information</h2>
        <table class="table">
            <tbody>
                <tr>
                    <th>Name</th>
                    <td>{{ device_info.name }}</td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td>{{ device_info.status }}</td>
                </tr>
                <tr>
                    <th>Signal</th>
                    <td>{{ device_info.signal }}</td>
                </tr>
                <tr>
                    <th>Last Seen</th>
                    <td>{{ device_info.lastSeen }}</td>
                </tr>
                <tr>
                    <th>Model</th>
                    <td>{{ device_info.model }}</td>
                </tr>
                <tr>
                    <th>2.4 GHz SSID</th>
                    <td>{{ device_info.ssid1 }}</td>
                </tr>
                <tr>
                    <th>2.4 GHz Password</th>
                    <td>{{ device_info.password1 }}</td><!-- JBO TODO: hide -->
                </tr>
                <tr>
                    <th>5 GHz SSID</th>
                    <td>{{ device_info.ssid2 }}</td>
                </tr>
                <tr>
                    <th>5 GHz Password</th>
                    <td>{{ device_info.password2 }}</td><!-- JBO TODO: hide -->
                </tr>
            </tbody>
        </table>
    {% endif %}

    {% if subscription_info %}
        <h2>Subscription Information</h2>
        <table class="table">
            <tbody>
                <tr>
                    <th>Nickname</th>
                    <td>{{ subscription_info.nickname }}</td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td>{{ subscription_info.status }}</td>
                </tr>
                <tr>
                    <th>Delinquent</th>
                    <td>{{ subscription_info.delinquent }}</td>
                </tr>
                <tr>
                    <th>Current Period Start</th>
                    <td>{{ subscription_info.current_period_start }}</td>
                </tr>
                <tr>
                    <th>Current Period End</th>
                    <td>{{ subscription_info.current_period_end }}</td>
                </tr>
                <tr>
                    <th>Last Paid</th>
                    <td>{{ subscription_info.last_paid }}</td>
                </tr>
            </tbody>
        </table>
    {% endif %}

    {% if selected_member_info.ninja_invoices %}
        <h2>Ninja Invoices</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Amount</th>
                    <th>Date</th>
                    <th>Reminder 1 Sent</th>
                    <th>Reminder 2 Sent</th>
                    <th>Reminder 3 Sent</th>
                    <th>Next Send Date</th>
                </tr>
            </thead>
            <tbody>
                {% for invoice in selected_member_info.ninja_invoices %}
                    <tr>
                        <td>{{ invoice.amount }}</td>
                        <td>{{ invoice.date }}</td>
                        <td>{{ invoice.reminder1_sent }}</td>
                        <td>{{ invoice.reminder2_sent }}</td>
                        <td>{{ invoice.reminder3_sent }}</td>
                        <td>{{ invoice.next_send_date }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</body>
</html>